body {
    background-color: rgb(72, 153, 242);
    padding: 50px;
}

#myCanvas {
    background-color: rgb(180, 180, 180);
    display: block;
    margin: 0 auto;
    width: 480px;
    height: 800px;
}

